@import "~bootstrap/dist/css/bootstrap.css";
@import "app/settings/_variables";

body {
    margin: 0px;
    background-color: $secondaryGray;
}

button, input {
    border-style: none !important;    
}

.list-group-item {
    padding: 0 !important;
}
