@import "~bootstrap/dist/css/bootstrap.css";
@import "app/settings/_variables";

body {
    margin: 0px;
    background-color: $secondaryGray;
    line-height: unset;
}

button, input {
    border-style: none !important;    
}

.list-group-item {
    padding: 0 !important;
}

.spinner {
    color: $primaryBlack;
    margin-top: 50px;
}
