@import "src/app/settings/_variables";

.imgItemDetail {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    margin: $space16;
}

li:hover {
    background-color: $secondaryGray;
    cursor: pointer;
}

.img-shipping {
    width:38px; 
    height:38px;
    padding-left: $space16;

    img {
        max-width:100%; 
        height:auto;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }
}

.item-description {
    #price {
        font-size: 24px;
        color: $primaryBlack;
        margin-bottom: $space32;
    }
    
    #title {
        color: $primaryBlack;
        font-size: 18px;
    }

    #sub-title {
        color: $secondaryBlack;
        font-size: 18px;
    } 
}
