/* Variables */
$primaryYellow: #FFE600;
$primaryBlack: #333333;
$secondaryBlack: #666666;
$primaryGray: #999999; 
$secondaryGray: #EEEEEE;
$primaryBlue: #3483FA;

/* Spaces */
$space16: 16px;
$space32: 32px;